<script type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
  window.images = {
    logo: "<%= image_path("instapound.png") %>",
    logoText: "<%= image_path("instapound_text.png") %>",
    mobileImage: "<%= image_path("instapound-mobile-interface.png") %>",
    navUser: "<%= image_path("profile.png") %>",
    dotdotdot: "<%= image_path("dot.png") %>",
    exit: "<%= image_path("close-button.png") %>",
    upload: "<%= image_path("upload.svg") %>",
    heart: "<%= image_path("heart.png") %>",
    fillHeart: "<%= image_path("heart_color.png") %>",
    deleteButton: "<%= image_path("delete-button.png") %>",
    search: "<%= image_path("search.png") %>",
    like: "<%= image_path("like.png") %>",
    comment: "<%= image_path("comment.png") %>"
  }
</script>

<main id='root'></main>
